@import "../../variables";

.header {
    margin: 0;
    padding: 20px 15px;

    .ant-select {
        width: 100%;
    }

    .controls {
        display: flex;
        justify-content: center;
    }

    .user-actions {
        width: 100%;
        justify-content: flex-end;
    }
}
