// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.3;

// Colors
$black: #000;
$white: #fff;
$lightGreen: #b6d7a8;
$lightYellow: #fff2cc;
$orange: #ffd966;
$lightRed: #f4cccc;
$lightBlue: #d0e0e3;
$purple: #d9d2e9;
$lightOrange: #fce5cd;

// Misc
$stickyOffset: 180px;
$borderStyle: 1px solid $black;
$cellWidth: 100px;
