@import "../variables";

.report {
    position: relative;
    margin: 0 0 50px;
    overflow-x: auto;

    &-columns {
        display: flex;
        flex-flow: row nowrap;
    }
}

.heading-columns {
    margin-left: ($stickyOffset - 1px);
    display: flex;
    flex-flow: row nowrap;
}

.plan-heading-column {
    flex: 0 0 ($cellWidth * 5);
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    border-top: $borderStyle;
    border-left: $borderStyle;
    &:last-child {
        border-right: $borderStyle;
    }
}


.column {
    $p: 2px;
    flex: 0 0 $cellWidth;
    &.bold {
        font-weight: 700;
    }

    .column-row {
        width: 100%;
        padding: $p;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: $lightGreen;
        font-size: 11px;
        text-align: center;
        border-top: $borderStyle;
        border-right: $borderStyle;
        &:first-child {
            height: 23px;
            background: $white;
            font-weight: 700;
        }
        &:last-child {
            border-bottom: $borderStyle;
        }

        .ant-input {
            max-height: (21.5px - 2 * $p - 1px);
            padding: $p;
            font-size: 11px;
            line-height: 1;
            text-align: center;
            border: none;
            border-radius: 0;
            &[disabled] {
                color: $black;
            }
        }

        &.with-input {
            background: $white;
        }

        &.has-subrows {
            .sub-row {
                width: calc(100% + ($p * 2));
                padding: $p;
                display: none;
                background: $lightYellow;
                border-top: $borderStyle;
                &:first-child {
                    margin-top: $p;
                }
                &:last-child {
                    margin-bottom: ($p * -1);
                }
                &.has-subrows {
                    background: $orange;
                    .sub-row {
                        margin-left: ($p * -1);
                        display: none;
                    }
                    &.active {
                        .sub-row {
                            display: block;
                        }
                    }
                }
            }

            &.active {
                .sub-row {
                    display: block;
                }
            }
        }
    }

    &.main-column {
        position: sticky;
        left: 0;
        flex: 0 0 $stickyOffset;
        z-index: 2;
        background: $white;

        .column-row {
            text-align: left;
            align-items: flex-start;
            border-left: $borderStyle;
            &:first-child {
                background: none;
                border-left: none;
                border-top: none;
            }

            &.has-subrows {
                .sub-row {
                    margin-left: ($p * -1);
                    cursor: default;
                    &.has-subrows {
                        background: $orange;
                        cursor: pointer;
                        .sub-row {
                            display: none;
                        }
                        &.active {
                            .sub-row {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .has-subrows {
            position: relative;
            cursor: pointer;

            &::after {
                $size: 12px;
                content: "\002B";
                position: absolute;
                top: 4px;
                right: $p;
                width: $size;
                height: $size;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $white;
                font-size: 8px;
                line-height: 1;
                border-radius: 5px;
            }

            &.active::after {
                content: "\002D";
            }
        }
    }

    &.month-column {
        position: sticky;
        left: $stickyOffset;
    }
}

.lightRed {
    background: $lightRed!important;
}
.lightBlue {
    background: $lightBlue!important;
}
.purple {
    background: $purple!important;
}
.lightOrange {
    background: $lightOrange!important;
}
