@import "../variables";

.report {
    position: relative;
    padding: 0 15px;
    overflow: hidden;

    &-columns {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: auto;
    }
}

.column {
    flex: 0 0 100px;

    .column-row {
        width: 100%;
        min-height: 50px;
        padding: 10px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: 1px solid $black;
        border-right: 1px solid $black;
        &:first-child {
            height: 50px;
            font-weight: 700;
        }
        &:last-child {
            border-bottom: 1px solid $black;
        }

        &.has-subrows {
            color: blue;
            cursor: pointer;
            .sub-row {
                display: none;
            }

            &.active {
                .sub-row {
                    display: block;
                }
            }
        }
    }
}

.main-column {
    position: sticky;
    left: 0;
    flex: 0 0 300px;
    z-index: 2;
    background: $white;

    .column-row {
        text-align: left;
        align-items: flex-start;
        border-left: 1px solid $black;
        &:first-child {
            border-left: none;
            border-top: none;
        }
    }
}
